ANYPOINT/ds-gateway-2/src/main/mule/ds-specification.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="ds-specification-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="ds-specification-config" api="ds-specification.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="03d2449d-3ad3-4078-88f2-ad940617f511" >
		<http:request-connection host="localhost" port="3000" />
	</http:request-config>
	<flow name="ds-specification-main">
        <http:listener config-ref="ds-specification-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="ds-specification-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="ds-specification-console">
        <http:listener config-ref="ds-specification-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="ds-specification-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="delete:\employees\(id):ds-specification-config">
        <http:listener doc:name="Listener" doc:id="6ad1f8f7-b927-4c9e-9d47-08ae6f4949d8" config-ref="ds-specification-httpListenerConfig" path="/delete-employee"/>
		<http:request method="DELETE" doc:name="Request" doc:id="b343b9c8-b3ff-44ce-90d5-47c2e7f95606" config-ref="HTTP_Request_configuration" path="/employees/1">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"id" : 1
}]]]></http:uri-params>
		</http:request>
    </flow>
    <flow name="patch:\employees\(id):application\json:ds-specification-config">
        <http:listener doc:name="Listener" doc:id="309206d7-6cf5-44c7-83ab-bb23ea396e29" config-ref="ds-specification-httpListenerConfig" path="/update-employee"/>
		<http:request method="PATCH" doc:name="Request" doc:id="087b8f50-1f9d-4f00-901e-5ca51ab16bf1" config-ref="HTTP_Request_configuration" path="/employees/1">
			<http:body ><![CDATA[#[{
	"salaryInDinars": 1500
}]]]></http:body>
		</http:request>
    </flow>
    <flow name="get:\employees:ds-specification-config">
        <http:listener doc:name="Listener" doc:id="333fd4ed-db93-4159-bd98-5450cf20f585" config-ref="ds-specification-httpListenerConfig" path="/get-employees"/>
		<http:request method="GET" doc:name="Request" doc:id="bbe3749b-a9aa-4036-9d1d-ca855d56b619" config-ref="HTTP_Request_configuration" path="/employees"/>
    </flow>
    <flow name="get:\salaries\dollars\(id):ds-specification-config">
        <http:listener doc:name="Listener" doc:id="3a498a79-83d2-40c4-ab14-8bbf0ffaee95" config-ref="ds-specification-httpListenerConfig" path="/get-dollars"/>
		<http:request method="GET" doc:name="Request" doc:id="7ecb1b6a-4328-4bb4-ba95-7ba32830ea66" config-ref="HTTP_Request_configuration" path="/salaries/dollars/1"/>
    </flow>
    <flow name="get:\salaries\euros\(id):ds-specification-config">
        <http:listener doc:name="Listener" doc:id="7015574c-ce94-4bbd-867a-2d205fce8062" config-ref="ds-specification-httpListenerConfig" path="/get-euros"/>
		<http:request method="GET" doc:name="Request" doc:id="58e1bb07-1bf7-4051-b549-12d6491f0c5d" config-ref="HTTP_Request_configuration" path="/salaries/euros/1"/>
    </flow>
    <flow name="get:\employees\(id):ds-specification-config">
        <http:listener doc:name="Listener" doc:id="c221b036-5c04-4d80-8a50-ff633c195ffa" config-ref="ds-specification-httpListenerConfig" path="/get-employee"/>
		<http:request method="GET" doc:name="Request" doc:id="258fd13f-52d1-4d95-a5eb-c42d73240bdc" path="/employees/1" config-ref="HTTP_Request_configuration"/>
    </flow>
    <flow name="post:\employees:application\json:ds-specification-config">
        <http:listener doc:name="Listener" doc:id="16d9e34f-a3eb-42ba-9005-9f6b05c2311a" config-ref="ds-specification-httpListenerConfig" path="/create-employee"/>
		<http:request method="POST" doc:name="Request" doc:id="008f4528-973d-4604-bb23-116bdfbca1e4" config-ref="HTTP_Request_configuration" path="/employees">
			<http:body ><![CDATA[#[{
	"name": "Test",
	"salaryInDinars": 1000
}]]]></http:body>
		</http:request>
    </flow>
</mule>
